Package: com.mark02-2012.ytplaybackfix
Name: YTPlaybackFix
Version: 1.1
Architecture: iphoneos-arm
Description: Fix for YouTube playback "something went wrong" error.
Maintainer: Mark02-2012
Author: Mark02-2012
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
